.baner
{background-color: #00839c;
color: white;
font-family: Tahoma;
text-align: center;
height: 80px;
}
.lewy
{
background-color: #20D9FB;
width: 30%;
height: 750px;
float: left;
}
.prawy
{
background-color: #00BDE2;
width: 70%;
height: 750px;
float: left;
}
.stopka
{
background-color: #00839c;
color: white;
text-align: right;
}
.obraz
{
padding: 30px;
border-style: solid;
border-color: blue;
border-width: 2px;
width: 190px;
height: 285px;
}
.przycisk
{background-color: blue;
    color: white;
    margin: 20px;
border-style: none;
}